body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #B3C100, #4CB5F5); /* Gradient with provided colors */
    color: #23282D; /* Dark color for text */
    margin: 0;
    padding: 10px; /* Espaciado interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #1F3F49; /* Dark blue color */
    background-color: #CED2CC; /* Light grey background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #D32D41; /* Red border */
    margin: 20px auto;
}

.exchange-image {
    width: 150px; /* Adjust the size as needed */
    margin-top: 20px;
    margin-bottom: 20px;
}

#cotizacion {
    background-color: #CED2CC; /* Light grey background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border: 2px solid #6AB187; /* Green border */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px; /* Tamaño estándar */
}

th, td {
    border: 1px solid #1F3F49; /* Dark blue border */
    padding: 10px;
    text-align: center;
}

th {
    background-color: #D32D41; /* Red background */
    color: #CED2CC; /* Light grey text */
}

td {
    background-color: #CED2CC; /* Light grey background */
    color: #23282D; /* Dark text */
}

tr:hover {
    background-color: #E2E6E1; /* Un tono claro */
    transition: background-color 0.3s ease;
}

button {
    background-color: #2f719a; /* Azul claro */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #3A8FC1; /* Azul más oscuro */
}
